/* * {
    border: pink 1px solid;
} */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    width: 100%;
}

.Default-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5vw;
    background: #D0D0D0;
    height: 100px;
}

.Default-top img#Web-Cite-logo {
    height: 80px;
}

.profile-icon {
    height: 60px;
    width: 60px;
    
    cursor: pointer;
}

.right-side {
    display: flex;
    align-items: center;
    gap: 5%;
}
button#login-link {
    width: 160px;
    height: 60px;
    background-color: #15335C;
    color: white;
    cursor: pointer;
    border-radius: 30px;
    font-size: 1em;
}

button#login-link:hover {
    background-color: #FC9F32;
    color: #17335C;
}

.Default-bottom {
    padding: 0px 5vw;
    margin-top: 20px;
    background: white;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.search input {
    width: 76vw;
    height: 50px;
    margin-top: 5px;
    padding: 0px 2vw;
    /* border: 1px solid #ccc; */
    border-radius: 50px;
    box-shadow: 0 3px 1px rgba(0, 0, 0, 0.4);
    font-size: 16px;
}

.default-buttons button {
    margin-top: 5px;
    margin-left: 10px;
    padding: 8px 10px;
    height: 50px;
    width: 9vw;
    background-color: #15335C;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1.5em;
}

.default-buttons button:hover {
    background-color: #FC9F32;
    color: #17335C;
}