/* * {
    border: pink 1px solid;
} */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    width: 100%;
}

img#Web-Cite-logo {
    height: 40px;
    cursor: pointer;
}

img.profile-icon {
    height: 30px;
    margin-left: 15px;
    cursor: pointer;
}

.Default-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5vw;
    background: #D0D0D0;
    height: 50px;
}

.right-side {
    display: flex;
    align-items: center;
    gap: 5%;
}

button#login-link {
    width: 90%;
    height: 40px;
    background-color: #15335C;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}

button#login-link:hover {
    background-color: #FC9F32;
    color: #17335C;
}

.Default-bottom {
    padding: 0px 5vw;
    background: white;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.search input {
    width: 70vw;
    height: 35px;
    margin-top: 5px;
    padding: 0px 10px;
    /* border: 1px solid #ccc; */
    border-radius: 50px;
    box-shadow: 0 3px 1px rgba(0, 0, 0, 0.4);
    font-size: 16px;
}

.default-buttons button {
    margin-top: 5px;
    margin-left: 10px;
    padding: 8px 16px;
    height: 35px;
    width: 18vw;
    background-color: #15335C;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.default-buttons button:hover {
    background-color: #FC9F32;
    color: #17335C;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 8px 5vw;
    background-color: #D0D0D0;
    height: 50px;
    box-sizing: border-box;
}