.result_view {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 10px 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.article-card {
    width: 60%;
}


#web-link {
    padding: 8px 12px;
    width: 10%;
    background-color: #FC9F32;
    color: #15335C;
    text-decoration: none;
    border: none;
    border-radius: 50px;
    font-size: 0.9em;
}
        
#web-link:hover {
    background-color: #15335C;
    color: white;
    cursor: pointer;
}
