/* * {
    border: hotpink 2px solid !important;
} */

h2 {
    color: #15335C;
}

.login-container {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 20vh;
    padding: 40px 40px 70px 40px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: 'Public Sans', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 10px
}

.heading {
    font-family: 'Playfair Display', serif;
    text-align: center;
    margin-bottom: 40px;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
    font-size: 1.2em;
}

.input-group input {
    padding: 15px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 30px;
}

.button-group {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 80px;
}

.buttons {
    width: 100%;
    padding: 15px;
    font-size: 1em;
    color: white;
    background-color: #15335C;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buttons:hover {
    color: black;
    background-color: #FC9F32;
}

#signup-button {
    background-color: white;
    border: #15335C 2px solid;
    color: #15335C;
    font-weight: bold;
}

#signup-button:hover {
    background-color: #FC9F32;
}