.article-search {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Public Sans', sans-serif;
}

.article-search form {
    width: 80%;
    max-width: 800px;
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}

.search-input {
    flex: 1;
    padding: 14px 20px;
    border: 1px solid #ccd4dd;
    border-radius: 30px;
    font-size: 1.1rem;
    background-color: white;
    transition: all 0.25s ease;
}

.search-input:focus {
    border-color: #15335C;
    box-shadow: 0 0 5px rgba(21, 51, 92, 0.2);
    outline: none;
}

.search-button {
    padding: 14px 30px;
    font-size: 1.1rem;
    color: white;
    background-color: #15335C;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.search-button:hover {
    background-color: #FC9F32;
}

/* RESULTS */
.search-results {
    width: 80%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
}
